mixin sRepresent(data)
	// start sRepresent
	+b.SECTION.sRepresent.section#sRepresent&attributes(attributes)
		+e.bg
		+e.container.container
			+e.row.row
				+e.txt-col.col-lg-7
					+b.section-title
						p Представляем готовое решение:
						h2
							| Онлайн-тренинг Издательства
							|
							br.d-none.d-sm-block
							| Инфо-ДВД и Свилена Димитрова
							|
							br.d-none.d-sm-block
							| «Управляющий Форекс-трейдер»
						+e.descr Как освоить профессию Форекс-трейдера и получить&nbsp;в управление капитал от&nbsp;10 000$ до&nbsp;1&nbsp;000 000$?
					+b.lined-txt
						p
							span Готовые стратегии.
							| Получите то, что действительно работает и приносит прибыль в текущих условиях рынка.
						p
							span Быстрый практический опыт.
							| Получите навыки 10-летнего опыта в трейдинге, потратив на это всего несколько дней.
						p
							span Правильные настройки ума.
							| Реальный процесс заработка денег в трейдинге от профессионала с 20-летним стажем торговли.
						p
							span Важные нюансы.
							| Главные составляющие успеха в трейдинге, которые помогут Вам остаться на плаву даже в самых негативных ситуациях.
						p
							span Вводная и техническая части.
							| Обучение доступно для старта с нуля.
						p
							span Капитал в управление.
							| Пройдите профессиональную подготовку и получите контакты надежных компаний, которые реально дают в управление деньги трейдерам.
				.col-lg-5
					+pic('book2.png')(class="sRepresent__book")
			+e.ready.text-center
				+e.r-txt
					| Готовы стать профессионалом и зарабатывать, торгуя деньгами инвесторов?
					| Тогда прямо сейчас жмите на кнопку и оформляйте участие в тренинге:
				+e.btn(href="#") Приступить к обучению
	// end sRepresent