mixin sWay(data)
	// start sWay
	+b.SECTION.sWay.section#sWay&attributes(attributes)
		+e.bg
		+e.container.container
			+b.section-title
				h2
					| Ваш путь
					| от&nbsp;новичка
					| до&nbsp;успешного
					|
					span управляющего трейдера
				p Вот карта пути, который Вы пройдете, чтобы стать успешным трейдером и получить крупный капитал в управление.
			+e.items
				+e.arrow.d-none.d-xl-block
					img(loading="lazy" src="img/svg/way-arrow-down.svg" alt="")
				+e.item
					span Правильные настройки ума.
					|
					| Неважно, есть у Вас уже трейдерский опыт или нет, изначально Вам необходимо получить правильное понимание – как именно зарабатываются деньги в трейдинге. Это фундамент, основа Вашего будущего успеха.
				+e.item
					span Теоретическое обучение.
					|
					| Изучая материалы тренинга, Вы получите полный набор знаний, необходимый успешному трейдеру: от базовых основ до готовых стратегий и нюансов, необходимых для успеха.
				+e.item
					span Получение практических навыков.
					|
					| Отрабатывая торговые стратегии вручную на Форекс- симуляторе, Вы получите практический опыт, который в дальнейшем даст Вам понимание рынка и навык распознавания верных и ложных сигналов на графике.
				+e.item
					span Подготовка к получению капитала в управление.
					|
					| Работа с деньгами инвестора требует особого подхода, основа которого – жесткий риск-менеджмент и управление капиталом. Все тонкости такой работы Вы получите в тренинге от опытного наставника.
				+e.item
					span Работа с капиталом инвестора.
					|
					| Удерживая капитал от максимальной просадки и достигая необходимых результатов по прибыли, Вы сможете каждые 3-6 месяцев увеличивать доверенную Вам сумму. Ваш потолок заработка здесь практически неограничен.
			+e.ready.text-center
				+e.txt Хочу пройти путь до успешного управляющего трейдера!
				+e.btn(href="#") Приступить к обучению
	// end sWay