// start .sSlider
.sSlider {
	@include media-breakpoint-up(sm){
		--sTPB: #{rem(45)};
	}
	@include media-breakpoint-up(lg){
		--sPT: #{rem(50px)};
		--sPB: #{rem(50)};
		--sTPB: #{rem(75)};
	}

	position: relative;
	z-index: 1;
	&__bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100%;

		&:before,
		&:after{
			content: '';
			position: absolute;
			width: 180vw;
			height: 2px;
			background: $green;
			@include media-breakpoint-down(lg){
				top: rem(400px);
			}
		}

		&:before{
			@include media-breakpoint-up(lg){
				top: rem(555px);
			}
			left: -40vw;
			transform: rotate(21deg);
		}
		&:after{
			@include media-breakpoint-up(lg) {
				top: rem(595px);
			}
			left: -40vw;
			transform: rotate(-2deg);
		}
	}
	.container{
		@include media-breakpoint-up(xl){
			padding-left: 10px;
		}
	}

	.section-title{
		h2{
			font-size: rem(24);
			@include media-breakpoint-up(sm){
				font-size: rem(30);
			}
			@include media-breakpoint-up(md){
				font-size: rem(36);
			}
			@include media-breakpoint-up(lg){
				font-size: rem(40);
			}
			@include media-breakpoint-up(xl){
				font-size: rem(50);
			}

			span{
				color: $green;
			}

		}
	}

	//slider
	&__slider{
		position: relative;
		.swiper-container{
			background: $white;
			border-radius: rem(30px);

			transition: box-shadow .5s ease-out;
			box-shadow: 0px 4px 59px rgba(0, 0, 0, 0.09);
			&:hover{
				box-shadow: 10px 10px 59px -10px rgba(0, 0, 0, 0.23);
			}
		}
		.swiper-wrapper{

		}
		.swiper-slide{
			padding: rem(35);

			height: rem(350px);
			@include media-breakpoint-up(sm){
				height: rem(390px);
			}
			@include media-breakpoint-up(md){
				height: rem(501px);
			}
		}

		//prev, next
		.feedback-next,
		.feedback-prev{
			border: none;
			outline: none;
			position: absolute;
			top: 39%;

			height: rem(40px);
			width: rem(20px);

			display: flex;
			align-items: center;
			justify-content: center;
			img{
				width: auto;
				height: auto;
				max-width: 100%;
				max-height: 100%;
			}

			@include mt();
			&:hover{
				transform: scale(1.3);
			}
		}

		.feedback-next{
			left: calc(100% + 35px);
		}
		.feedback-prev{
			right: calc(100% + 38px);
		}

		//pugin
		.feedback-pugin{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;

			padding-top: rem(25);
			@include media-breakpoint-up(sm){
				padding-top: rem(35);
			}
			gap: rem(10px);
			@include media-breakpoint-up(lg){
				padding-top: rem(67);
				gap: rem(18px);
			}

			.swiper-pagination-bullet{
				margin: 0;

				width: rem(15px);
				height: rem(15px);
				@include media-breakpoint-up(lg){
					width: rem(18px);
					height: rem(18px);
				}
				border-radius: 50%;

				@include mt();
				&:not(.swiper-pagination-bullet-active):hover{
					opacity: 0.8;
					box-shadow: 0px 4px 4px rgba(90, 134, 235, 0.3);
				}
				background: linear-gradient(135deg, #FAFF00 0%, #7FC13D 100%);
				opacity: 0.2;

				&-active{
					background: linear-gradient(135deg, #3DC172 0%, #5E9C1F 100%);
					box-shadow: 0px 4px 4px rgba(90, 134, 235, 0.47);
					opacity: 1;
				}
			}


		}
	}


	&__img-link{
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;

		@include mt();
		&:hover{
			transform: scale(1.03);
			filter: brightness(1.01);
		}

		img{
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
	&__{}
} // end.sSlider