mixin sThink(data)
	// start sThink
	+b.SECTION.sThink.section#sThink&attributes(attributes)
		.container
			+e.row.row
				+b.section-title.col-lg-6
					h2
						| Думаете, что
						| получить&nbsp;капитал
						| в управление –
						|
						span
							| это&nbsp;что-то нереальное?
					+e.main Главное требование, которое они выставляют управляющему трейдеру – соблюдать риск-менеджмент и не превышать максимальную просадку по депозиту (как правило, не более 10%).
				+e.r-col.col-lg-6
					+e.txt
						p Вот Вам реалии сегодняшнего дня.
						p Сегодня денег, которые ищут возможность&nbsp;преумножиться, гораздо больше, чем грамотных трейдеров, способных управлять этими деньгами и долгосрочно приносить прибыль.
						p.green Эти реалии, между прочим, существуют сегодня не только в трейдинге, но и во всем остальном мире бизнеса и финансов.
						p Инвестиционные компании находятся в постоянном поиске талантливых трейдеров.
				+e.growth.col-12
					+e.gr-img
						img(loading="lazy" src="img/svg/growth-img.svg" alt="")
				+e.bold-col.col-lg-6
					+e.bold-txt Чтобы получить капитал в управление, инвестиционная компания попросит Вас внести на депозит небольшую сумму собственных денег (от 100$ до 550$), которые частично покроют убытки компании в случае, если Вы недостаточно компетентны и вместо прибыли сразу уведете полученный счет в убыток.
				.col-lg-6
					+e.r-txt
						p
							| Изначально Вы получите в управление небольшую сумму денег –
							|
							b от 10&nbsp;000$ до 50&nbsp;000$.
							|
							br.d-none.d-lg-block
							| В дальнейшем, соблюдая необходимые требования   по управлению капиталом и достигая определенных рубежей прибыли (обычно +10% к депозиту), вам ступенчато увеличат сумму управляемого капитала. В итоге он может достигать до
							|
							b 1&nbsp;000&nbsp;000$.
						p
							| Полученная прибыль делится между Вами
							|
							br.d-none.d-lg-block
							| и инвестиционной компанией либо
							|
							b 50/50
							|
							|, либо
							|
							b 70/30.
			+e.opportunities
				+e.o-title
					| Когда Вы&nbsp;имеете возможность торговать крупным капиталом, Вам уже нет никакой необходимости стремиться к&nbsp;сверхприбылям и&nbsp;чрезмерно рисковать. Даже 1-5% прибыли в&nbsp;месяц уже превращаются&nbsp;в&nbsp;серьезные суммы денег и&nbsp;для Вас, и&nbsp;для инвестиционной компании.
					b Больше денег&nbsp;– больше прибыли и&nbsp;меньше сложностей в&nbsp;торговле!
				+e.o-bot-cont
					+e.o-question
						| Согласитесь, гораздо проще заработать 2000$
						| с депозита 100&nbsp;000$, чем с депозита 1000$?
					+e.o-img.d-none.d-sm-flex
						img(loading="lazy" src="img/svg/opps-img.svg" alt="")
			+e.ready.text-center
				+e.ready-txt
					p В тренинге «Управляющий Форекс-трейдер» мы познакомим Вас с самыми надежными инвестиционными компаниями и научим Вас всем необходимым тонкостям работы с ними.
					p Пройдите обучение и получите в управление капитал до 1&nbsp;000&nbsp;000$!
				+e.btn(href="#") Приступить к обучению
	// end sThink