mixin sMaster(data)
	// start sMaster
	+b.SECTION.sMaster.section#sMaster&attributes(attributes)
		.container
			+b.section-title
				h2
					| Кто будет Вашим
					|
					span наставником?
			+e.row.row
				+e.img-col.col-12.col-sm-10.col-md-8.col-lg-5
					+e.name
						+e.n-thin Знакомьтесь:
						+e.n-bold Свилен Димитров.
					+e.portrait-cont
						+e.green-frame
						+e.white-frame
						+pic('master-img.jpg')(class='sMaster__portrait')
				+e.txt-col.col-12.col-lg-6.offset-lg-1
					+e.UL.list
						li
							| Родился и живет в
							|
							b Болгарии.
						li
							b Магистр
							|
							| экономики и финансов.
						li
							b Независимый
							|
							| международный финансовый
							br.d-none.d-xl-block
							|
							| консультант.
						li
							b Инвестиционный управляющий,
							|
							| владелец компании «Финансовая грамотность».
						li
							b Обучил более 200 человек
							|
							| торговле и инвестированию на&nbsp;финансовых рынках.
						li
							b Более 20 лет
							|
							| опыта в частном трейдинге.
						li
							b Торгует на американских акциях
							|
							| и облигациях,
							br.d-none.d-xl-block
							|
							| опционах и фьючерсах, на Форексе и
							br.d-none.d-xl-block
							|
							|CFD-контрактах.
						li
							| Занимается портфельным инвестиционным
							|
							br.d-none.d-xl-block
							| управлением
							|
							b на международных рынках.
						li
							| Управляет средствами инвесторов, общая сумма в управлении более
							|
							b.no-wrap 1 200 000$.
						li
							| Средняя доходность портфелей в управлении
							|
							b.no-wrap 25-50% годовых.
						li
							b Постоянный спикер
							|
							| конференций профессиональных трейдеров и брокеров.
			+e.quote-bl
				+e.q-txt За свои 20 лет работы, одно из самых главных правил, которое я выделил для себя – не стоит усложнять там, где всё можно сделать по-простому. Чем больше ты запариваешься, тем сильнее у тебя туманится глаз и получается только хуже и хуже…
				+e.author
					span Свилен Димитров
					span Правило успешного трейдера №1
	// end sMaster