mixin sProgramm(data)
	// start sProgramm
	+b.SECTION.sProgramm.section#sProgramm&attributes(attributes)
		+e.bg
			img(loading='lazy' src="img/svg/programm-bg.svg" alt="")
		+e.top-bg
		//-+e.bot-bg
		.container
			+b.section-title
				h2
					| Программа тренинга Свилена Димитрова
					|
					br.d-none.d-sm-block
					span «Управляющий Форекс-трейдер»
			+e.items
				+programmItem(1, 'Понимание трейдинга, как источника дохода')
					+e.descr
						p Неважно, новичок&nbsp;Вы в&nbsp;трейдинге или уже опытный, эту информацию&nbsp;Вы обязательно должны усвоить, чтобы в&nbsp;дальнейшем стать успешным трейдером. Это важнейшая часть тренинга, которая станет мощным фундаментом для Вашего дальнейшего обучения.
					+e.format
						+e.f-txt Формат:
						ul
							li Видеоуроки + дополнительные материалы.
					+e.UL.list
						li Как проходить обучение с максимальной пользой?
						li Трейдинг, как бизнес. Как строить бизнес в трейдинге вместо того, чтобы «играть на бирже»?
						li Три главные составляющие успеха в трейдинге: психология, мани-менеджмент (управление капиталом) и риск-менеджмент (управление рисками).
						li Основа успешной стратегии.
						li ВЕРСТАТ: прошлое, настоящее и будущее. Работа с вероятностью и статистикой.
						li Настройки ума. Программируем Ваш успех в трейдинге
						li Профессионализм в трейдинге – это скучно... Открываем глаза на реальный процесс заработка денег в трейдинге.
						li Базовые понятия и определения. Или то, что необходимо знать из теории, и чем голову забивать не стоит.
				+programmItem(2, 'Техническая часть')
					+e.descr
						p Базовые основы для тех, кто начинает с самого нуля. В этом блоке Вы получите технические нюансы работы на рынке Форекс, те самые, о которые постоянно спотыкаются новички
					+e.format
						+e.f-txt Формат:
						ul
							li Видеоуроки + дополнительные материалы.
					+e.UL.list
						li Брокеры. Нюансы выбора надежного брокера под Ваш депозит.
						li График цены. Знакомимся с представлением и типами графиков.
						li Знакомство с торговым терминалом: Терминал МТ4 и МТ5. Установка и настройка для торговли.
						li Виды ордеров. Как открывать и закрывать сделки.
				+programmItem(3, 'Стратегии')
					+e.descr
						p В этом блоке занятий Вы получите набор готовых прибыльных торговых стратегий, которые показали на практике свое статистическое и математическое преимущество, и еще долго не потеряют свою актуальность.
					+e.format
						+e.f-txt Формат:
						ul
							li онлайн-занятие 11.01.2021
							li онлайн-занятие 13.01.2021
							li + записи занятий и дополнительные материалы.
					+e.UL.list
						li Что такое Price Action? Освободите свой мозг от ненужной информации и научитесь видеть реальную картину рынка, используя только график цены.
						li Паттерны с вероятностью отработки более 70%.
						li Swing-сделки. Извлекайте максимальную прибыль на ценовых колебаниях с минимальным количеством сделок.
						li Виды уровней и их объективность. Умение работать с уровнями – ключевой навык для трейдера. Развив этот навык, Вы уже никогда не останетесь без денег на рынке.
						li Стратегия отбоя от уровней. Стратегия пробоя уровней. Свечные паттерны + уровни на таймфреймах: 4-часа, 1 день. Прибыльная стратегия, минимум ложных сигналов, комфортная работа.
						li Как использовать скользящие средние в торговой стратегии?
				+programmItem(4, 'Усиливаем результативность')
					+e.descr
						p Продвинутый блок обучения, в котором мы докрутим стратегии, полученные в предыдущем блоке. Вы добавите к своим торговым стратегиям ряд нюансов, которые дадут Вам дополнительные преимущества в торговле.
					+e.format
						+e.f-txt Формат:
						ul
							li онлайн-занятие 15.01.2021
							li онлайн-занятие 18.01.2021
							li + записи занятий и дополнительные материалы.
					+e.UL.list
						li Как использовать в работе данные о рыночных настроениях участников?
						li Список источников для получения данных о рыночных настроениях участников. 5 сайтов, дающих в совокупности исчерпывающую информацию о позициях разных сегментов участников рынка.
						li Нюансы работы с Фьючерсами (или CFD) на индексы, товары и металлы.
						li Как использовать данные о сезонности в своей работе?
				+programmItem(5, 'Работа с Forex Simulator')
					+e.descr
						p Практический блок тренинга. Вы познакомитесь с программой Forex Simulator, которая позволяет вручную торговать на реальных исторических данных с учетом комиссий, спредов и прочими продвинутыми настройками. С ее помощью Вы отработаете на практике навыки поиска нужных паттернов и способность отличать потенциально прибыльные сигналы от ложных.
					+e.format
						+e.f-txt Формат:
						ul
							li онлайн-занятие 20.01.2021
							li + запись занятия и дополнительные материалы
					+e.UL.list
						li Как за несколько дней получить 10-летний торговый опыт и научиться видеть рынок?
						li Подарок (только в тарифе «Мастер»)! Бессрочная официальная лицензия программы Forex Simulator стоимостью 99$.
						li Самостоятельная практическая работа. Получение практических навыков на рынке. Отработка стратегий на разных инструментах, разных торговых стратегиях, за разные рыночные периоды.
						li Ведение дневника сделок на этапе отработки с Forex Simulator.
						li Как проанализировать итоги? На что нужно обратить внимание и какие выводы необходимо сделать?
				+programmItem(6, 'Работа с деньгами инвесторов')
					+e.descr
						p И, наконец, тот самый блок обучения, ради которого всё и готовилось. Здесь Вы получите необходимые нюансы по работе с капиталом инвесторов. Четкие инструкции от трейдера-практика. Как получить первоначальный капитал в управление? Как удержаться с ним в рынке и начать зарабатывать? Как постепенно увеличивать сумму в управлении и свои доходы?
					+e.format
						+e.f-txt Формат:
						ul
							li онлайн-занятие 22.01.2021
							li + запись занятия и дополнительные материалы
					+e.UL.list
						li Список надежных компаний, которые постоянно ищут трейдеров и реально дают деньги в управление. Контакты.
						li Разбор условий получения денег в управление. Три типа условий + отдельно разбор каждой конкретной компании из рекомендуемого списка.
						li Как выбрать подходящую компанию для Вас? 
						li Как получить в управление первые деньги (10 000 $ – 50 000 $)? 
						li Как комфортно, поэтапно увеличивать сумму в управлении (до 1 000 000$ с шагом 50 000$ - 100 000$)?
						li Техническая часть работы с инвесторским терминалом МТ4/МТ5.
						li Money Management при работе с капиталом инвестора. Это самая важная часть. 90% успеха лежит именно здесь. 
						li Как всегда оставаться с работой при работе с инвесторским депозитом? Как не превысить требуемую просадку? Как рассчитать размер риска на сделку, исходя из данных торговой системы?
			+e.btn-cont
				+e.btn(href="#") Хочу участвовать в тренинге!
	// end sProgramm

mixin programmItem(imgNum, name)
	+e.item
		+e.header
			+e.header-txt
				+e.number=`Блок ${imgNum}`
				+e.name=name
			+e.img
				img(loading='lazy' src=`img/svg/programm-item-${imgNum}.svg` alt="")
		block