mixin sTicket(data)
	// start sTicket
	+b.SECTION.sTicket.section#sTicket&attributes(attributes)
		+e.bg.d-none.d-lg-block
			+pic('dollars.jpg')(class="sTicket__dollars")
		.container
			+b.section-title
				h2
					| Как получить билет в категорию
					|
					span профессионального Форекса?
			+e.row.row
				+e.l-col.col-lg-6
					+e.bold-txt
						p Действительно, если разделение настолько очевидно, то что мешает всем остальным трейдерам сразу выбирать именно категорию профессионального Форекса?
						p Вот список основных причин, которые приводят новичков на серую сторону и мешают стать профессиональным трейдером:
				+e.r-col.col-lg-6
					+b.lined-txt
						p
							span Выбор брокера.
							| Выбрать серьезного брокера со&nbsp;строгой регуляцией достаточно легко. Но&nbsp;из-за отсутствия знаний, новички, поддавшись назойливой рекламе, часто открывают счет у&nbsp;серых брокеров, пополняя их&nbsp;кошельки своими деньгами.
						p
							span Отсутствие достаточных знаний.
							| Чтобы стать трейдером&#8209;профессионалом, нужно все-таки выделить время&nbsp;на освоение матчасти и&nbsp;на&nbsp;изучение нюансов работы на&nbsp;валютных рынках.
						p
							span Отсутствие наработанной стратегии.
							| Чтобы получать прибыль, трейдер должен иметь свою собственную стратегию с&nbsp;наработанной статистикой и&nbsp;положительным математическим ожиданием.
						p
							span Отсутствие практического опыта торговли.
							| У&nbsp;новичков нет навыков торговли, не&nbsp;набита рука на отслеживание паттернов&nbsp;на вход и&nbsp;выход из&nbsp;сделки. Трейдеры-профессионалы, как правило, имеют за&nbsp;плечами годы практической торговли, и&nbsp;их наработанный&nbsp;опыт дает возможность зарабатывать в&nbsp;любой фазе рынка.
						p
							span Маленький капитал.
							| Пожалуй, одна из&nbsp;самых главных проблем. Трейдер с&nbsp;маленьким капиталом вынужден увеличивать риски и&nbsp;использовать кредитное плечо, чтобы получить хоть какую-то ощутимую прибыль. Чаще всего это заканчивается полным сливом депозита.
					+e.uniq
						+e.u-bold Сегодня у Вас есть уникальная возможность решить все эти проблемы разом!
						+e.u-thin Перейдите сразу в категорию профессионального Форекс-трейдинга и начните зарабатывать деньги, вместо того чтобы играть на скачках валют, как в казино, теряя свои накопления.
	// end sTicket