mixin sEnd(data)
	// start sEnd
	+b.SECTION.sEnd.section#sEnd&attributes(attributes)
		.container
			+b.section-title
				h2
					| Вы дочитали
					|
					br.d-none.d-lg-block
					span до конца?
				p
					| Поздравляем! Первый шаг в новую интересную жизнь уже сделан.
					br.d-none.d-xl-block
					| Пора переходить к шагу №2.
			+e.row.row
				+e.col.col-12.col-lg-3.col-sm-6
					+e.item
						| Оставьте заявку на
						|
						br.d-none.d-xl-block
						| участие в тренинге
				+e.col.col-12.col-lg-3.col-sm-6
					+e.item Получите доступ к материалам и войдите в команду учеников Свилена Димитрова
				+e.col.col-12.col-lg-3.col-sm-6
					+e.item Освойте знания и сформируйте навыки успешного трейдера
				+e.col.col-12.col-lg-3.col-sm-6
					+e.item Получите капитал в управление и станьте профессиональным управляющим трейдером!
			+e.ready.text-center
				+e.r-txt Мастер ждёт Вас и готов щедро делиться опытом, необходимым для успешного освоения новой профессии.
				+e.btn(href='#') Хочу освоить профессию управляющего Форекс-трейдера!
	// end sEnd