mixin sResult(data)
	// start sResult
	+b.SECTION.sResult.section#sResult&attributes(attributes)
		.container
			.row
				+b.section-title.col-lg-6
					h2
						| Подытожим?
						|
						br.d-lg-block.d-none
						| Вот, что Вы получите в итоге, пройдя обучение
						| в тренинге
						|
						br
						span «Управляющий Форекс-трейдер»
				+e.list-col.col-lg-6
					ul
						li
							b Фундаментальное понимание трейдинга,
							br.d-none.d-xl-block
							|
							| как источника дохода.
						li
							b Разберётесь с&nbsp;базовыми понятиями и&nbsp;техническими особенностями трейдинга:
							|
							| управление капиталом и&nbsp;управление рисками, основы финансовых рынков и&nbsp;ценообразование.
						li
							b Изучите и&nbsp;отработаете на&nbsp;практике набор стратегий
							|
							| с&nbsp;проверенной статистикой и&nbsp;высоким потенциалом к&nbsp;прибыльности.
						li
							b Получите правильный психологический настрой
							|
							| и&nbsp;сможете сформировать нужный комплекс трейдерских навыков.
						li
							b Подберёте личную торговую стратегию
							|
							| из&nbsp;нескольких предложенных и&nbsp;настроите её&nbsp;параметры под собственный темперамент и&nbsp;временные возможности для торговли.
						li
							| Научитесь
							|
							b методикам обеспечения безопасности депозита
							|
							| от&nbsp;слива и&nbsp;удерживания его в&nbsp;установленных рамках просадки.
						li
							| Научитесь проводить
							|
							b анализ рынка онлайн.
						li
							| Сможете получить в&nbsp;управление капитал
							|
							br.d-none.d-xl-block
							b от&nbsp;10 000$ до&nbsp;1&nbsp;000 000$.
	// end sResult