mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href='/')
				img(loading="lazy" src="img/svg/footer-logo.svg" alt="")
			+mnu()
			.text-right
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav--js.block-with-lazy
		+e.container.container
			+e.row
				+e.logo(href="/")
					img.img-svg-js(src="img/svg/logo.svg" alt="")
				+e.menu.d-none.d-lg-block
					+mnu()
				+e.btn(href="#") Получить профессию
				+b.toggle-menu-mobile--js.d-lg-none
					span
	// end top-nav