mixin sNext(data)
	// start sNext
	+b.SECTION.sNext.section#sNext&attributes(attributes)
		.container
			+e.row.row
				+e.l-col.col-lg-6
					+b.section-title
						h2
							| Что будет
							|
							br
							span дальше?
						+e.img
							img(loading="lazy" src="img/svg/next-title.svg" alt="")
					+e.l-txt
						p
							b После прохождения обучения Вы начнете делать практические шаги по отработке необходимых навыков и, в конце концов, сможете получить капитал в управление и начать реальную торговлю с капиталом инвестора.
						p Вот на этом этапе у Вас появится большое количество вопросов. Здесь Вам как никогда нужна будет помощь наставника.
						p
							| Для участников тренинга (тариф «Мастер») полноценная поддержка наставника будет реализована в мастер-группе
							b.d-block Свилена Димитрова.
				+e.r-col.col-lg-6
					+e.r-top-txt Основная программа обучения тренинга «Управляющий Форекс-трейдер» - всего лишь теоретическое обучение, после которого Вы не останетесь один-на-один со своими вопросами.
					+e.list-title У&nbsp;Вас будет 3&nbsp;месяца участия в&nbsp;мастер-группе, в&nbsp;течение которых&nbsp;Вы получите:
					ul
						li Онлайн-занятия со&nbsp;Свиленом Димитровым 1&nbsp;раз в&nbsp;2&nbsp;недели.
						li Ответы на&nbsp;вопросы, возникшие во&nbsp;время практики.
						li Демонстрация онлайн-торговли.
						li Разбор и&nbsp;анализ практической работы участников.
						li Помощь в&nbsp;докрутке торговой системы.
						li Дополнительные обучающие нюансы и&nbsp;практические кейсы от&nbsp;автора.
						li Анализ рынка в&nbsp;режиме онлайн.
						li Личная помощь от&nbsp;наставника в&nbsp;прохождении испытания в&nbsp;инвестиционной компании, при условии выполнения участником практических заданий тренинга.
			+e.baner
				+e.white-bl
					| И, наконец, самое важное. Даже после окончания мастер-группы у Вас останется возможность получать поддержку и наставничество от Свилена Димитрова,
					| при&nbsp;условии, что Вы будете практиковаться
					| в реальной торговле и присылать свои промежуточные результаты.
				+e.green-bl
					+e.g-title Внимание!
					+e.g-descr Подарок каждому участнику мастер-группы – бессрочная официальная лицензия профессионального симулятора ручной торговли Forex Simulator.
					+e.g-price Стоимость 99$ - для Вас бесплатно!
					+e.g-img
						img(loading="lazy" src="img/svg/gift-img.svg" alt="")
			+e.ready.text-center
				+e.r-txt Готовы к практике под руководством наставника с 20-летним опытом торговли? Тогда жмите на кнопку прямо сейчас и оставьте заявку на участие в тренинге:
				+e.btn(href='#') Я хочу стать управляющим трейдером под руководством Свилена Димитрова!
	// end sNext