mixin sEducation(data)
	// start sEducation
	+b.SECTION.sEducation.section#sEducation&attributes(attributes)
		+e.bg
		+e.bg-2
			img(loading="lazy" src="img/svg/education-bg.svg" alt="")
		.container
			+b.section-title
				h2
					| Как будет проходить
					br
					//-.d-none.d-sm-block
					span Ваше обучение?
			+e.items
				+e.item
					| Вы получите
					|
					b доступ в закрытую часть
					|
					| группы в Инфоклубе, где Вас уже ждут материалы блоков 1 и 2
				+e.item
					| С 11 января 2021 стартуют
					|
					b онлайн-занятия основной программы тренинга.
					|
					| Занятия будут проходить 3 раза в неделю: понедельник, среда и пятница в 19-00 МСК. В прямом эфире Вы сможете общаться с автором и задавать вопросы по пройденному материалу. Записи онлайн-занятий будут также опубликованы, Вы всегда сможете вернуться и повторить материал.
				+e.item
					| В группе Вас также ждут
					|
					br.d-none.d-xl-block
					b ветки для обсуждений и вопросов к автору
				+e.item
					| С 25 января 2021 начнутся занятия
					|
					br.d-none.d-xl-block
					| мастер-группы – практика онлайн. Занятия будут проходить 1 раз в 2 недели с предоставлением записей.
				+e.item
					| Уже в феврале, после прохождения самостоятельной практики на симуляторе, Вы сможете
					|
					b пройти испытание в инвестиционной компании
					|
					| и получить первые деньги в управление
			+e.btn-cont
				+e.btn(href="#") Начать обучение прямо сейчас
	// end sEducation