mixin sSreious(data)
	// start sSreious
	+b.SECTION.sSreious.section#sSreious&attributes(attributes)
		.container
			+b.section-title
				h2
					| Вы серьезно все еще думаете, что
					|
					| на рынке с оборотом 5 триллионов долларов в день работают только
					|
					span лохотронщики и их жертвы?!
				p
					| До сих пор не утихают споры о том, лохотрон рынок Форекс или нет.
					|
					br.d-none.d-lg-block
					| А в чем смысл этих споров? Ведь, по сути, обе стороны правы!
					|
					br.d-none.d-lg-block
					| Да, в реальности бок-о-бок существуют обе категории рынка Форекс:
			+e.row.row
				+seriousItem(1, 'Серый Форекс')
					+e.title Отнесем в эту категорию всех откровенных мошенников и, так называемых, «брокеров-кухонь».
					+e.txt-content
						p Откровенные мошенники – компании, перечислив деньги которым, Вы уже в этот момент с ними распрощались. У Вас никаким образом не получится вернуть их назад.
						p Кухни – они же дилинговые центры. Это брокеры, которые не выводят Ваши сделки на открытый рынок и зарабатывают исключительно на потерях своих клиентов. Все Ваши сделки проходят только внутри брокера. Скорее всего, Вам дадут возможность заработать. Но в долгосрочном плане Ваш заработок – это убыток брокера, поэтому со временем обязательно случится ситуация, при которой брокер отберет Ваш депозит.
						p Это все тот самый Форекс, который Вы постоянно видите в навязчивой «желтушной» рекламе.
						p Это все тот самый Форекс, после которого в сети появляются миллионы историй о том, как люди теряют свои последние деньги.
						p Трейдеры в этой категории – это частные лица с небольшими суммами денег. На профессиональном жаргоне этих трейдеров называют «хомяками».
				+seriousItem(2, 'Профессиональный Форекс')
					+e.title Это огромный рынок, на котором трудится большое количество категорий профессиональных участников.
					+e.list-title Например:
					+e.UL.list
						li Банки, которые проводят межбанковские валютные операции.
						li Центробанк страны, который проводит операции на валютном рынке.
						li Различные фонды – от небольших частных фондов, до крупнейших пенсионных фондов и других гигантов мира финансов.
						li
							| Бизнес-компании, имеющие
							|
							br.d-lg-block.d-none
							| оборот в валюте.
						li Наконец, профессиональные трейдеры и инвесторы.
					+e.lower-txt В этой категории работают серьезные брокеры и инвестиционные банки со строгой регуляцией, которые зарабатывают исключительно на комиссиях и честно выводят все сделки на открытый рынок.
					+e.result В этой категории трудятся настоящие профессионалы и зарабатывают деньги
			+e.question
				+e.q-img
					img(loading='lazy' src="img/svg/partnership.svg" alt="")
				+e.q-txt-bl
					+e.q-title Риторический вопрос:
					+e.q-txt
						| Как Вы думаете, в какой категории можно серьезно зарабатывать ощутимые деньги, делать это постоянно
						| и рассматривать именно как источник дохода?

	// end sSreious

mixin seriousItem(imgNum, name)
	+e.col.col-lg-6
		+e.item
			+e.item-inner
				+e.category=`Категория ${imgNum}`
				+e.H4.name=name
				block