mixin sHow(data)
	// start sHow
	+b.SECTION.sHow.section#sHow&attributes(attributes)
		+e.sec-bg
			img(loading="lazy" src="img/svg/problems-bg.svg" alt="")
		+e.bot-strip
			img(loading='lazy' src='img/svg/how-bot-line.svg' alt="")
		.container
			+b.section-title
				h2
					| Как не&nbsp;попасть
					| на&nbsp;серую сторону
					|
					span Форекса?
				+e.txt
					p Выше мы уже обозначили главные проблемы, которые приводят начинающих трейдеров на серую сторону Форекса.
					p Теперь давайте более детально разберем, как Вы сможете решить все эти проблемы.
			+e.items
				+howItem(1, 'Выбор правильного брокера.')
					p Эта проблема решается легче всего. Достаточно иметь базовые знания о том, как регулируются брокеры со стороны государства, какие существуют регуляторы и каким регуляторам можно доверять.
					p Например, как Вы думаете, насколько надежной может быть брокерская компания, если она зарегистрирована в оффшорном государстве, в котором стоимость брокерской лицензии составляет всего 500$?
					p В материалах тренинга «Управляющий Форекс-трейдер» Вы получите исчерпывающую информацию о том, на что конкретно нужно обращать внимание при выборе брокера.
					p
						| А чтобы Вы не тратили много времени на поиски, мы дадим Вам готовый список надежных и проверенных Форекс-брокеров. Среди них Вы сможете подобрать нужного брокера под Ваши запросы и под Ваш размер депозита.
						|
						br.d-none.d-xl-block
						| Когда уже имеешь знания о том, как правильно выбрать брокера, порой искренне удивляешься: «Почему люди до сих пор умудряются открывать счет в конторах, в которых даже беглым взглядом уже видны признаки откровенного мошенничества?!»
				+howItem(2, 'Отсутствие знаний и наработанной стратегии')
					p
						| Тоже простая проблема, для решения которой и существуют тренинги.
						|
						br.d-none.d-xl-block
						| Вы можете отправиться на поиски нужных знаний в открытые источники, либо получить в готовом виде только важную информацию, став участником тренинга «Управляющий Форекс-трейдер».
					p В тренинге Вы получите все необходимые нюансы, основанные на выжимке 20-летнего практического опыта Свилена Димитрова.
					p Также Вы получите готовые отработанные прибыльные стратегии и целый набор практических фишек, которые позволят Вам усилить свою результативность.
					p Мало того, Вы сможете самостоятельно убедиться в работоспособности этой стратегии на следующем шаге.
				+howItem(3, 'Отсутствие практического опыта торговли')
					p Даже получив во всех нюансах проверенную прибыльную стратегию, лишь небольшой процент начинающих трейдеров смогут по ней действительно зарабатывать деньги.
					p Одна из причин, почему так происходит – у новичка нет практических навыков, не набита рука на отслеживание необходимых паттернов, нет своего собственного видения рынка.
					p Опытные трейдеры нарабатывают эти навыки годами через постоянную практику торговли, через многочисленные ошибки и огромные финансовые потери.
					p Но только не в Вашем случае. Вам не придется тратить годы своей жизни и свои накопления только ради наработки опыта.
					p
						| Проблема решается с помощью профессионального симулятора, который Вы получите в подарок, став участником тренинга по тарифу «Мастер».
						|
						br.d-none.d-xl-block
						| С его помощью Вы в режиме ручной торговли отработаете сотни сделок и проживете все фазы рынка, включая кризисы, периоды роста и затяжные коридоры.
					p Вы научитесь определять уровни и видеть необходимые паттерны на графике. А самое главное, Вы на уровне приобретенных навыков научитесь отличать ложные сигналы от рабочих ситуаций.
					p Вы сможете увидеть свои результаты, максимально приближенные к реальности, включая брокерские комиссии, проскальзывания и прочие неблагоприятные факторы.
					p Выделите всего несколько дней для ручной торговли на симуляторе и заложите в свое подсознание необходимые трейдерские навыки, которые другие приобретают годами.
					p Получите 10-летний опыт трейдера за несколько дней плотной работы!
				+howItem(4, 'Маленький капитал')
					p Самая интересная часть тренинга. Ведь недаром мы дали ему название «Управляющий Форекс-трейдер».
					p Чтобы удержаться на рынке и получать прибыль в долгосрочном периоде, Форекс-трейдер должен неукоснительно соблюдать управление рисками. Для этого нужно забыть про плечи и выдерживать риск на сделку не более чем 0,1-1% от депозита.
					p
						| Поэтому, если Ваш собственный депозит менее 100 000$, то о существенной прибыли с правильным риск-менеджментом не может быть и речи.
						|
						br.d-none.d-xl-block
						| Это проблема решается с помощью получения в управление инвесторского капитала.
					p В тренинге Вы получите контакты надежных компаний, которые реально дают капитал в управление трейдерам.
					p Эти компании дадут Вам деньги в управление под определенные условия риск-менеджмента. Вам останется строго его соблюдать в своей торговле, и Вы сможете получать 50%-70% от заработанной на рынке прибыли.
					p Но самое главное даже не в контактах – их Вы можете найти и самостоятельно. Самое главное, Вы получите все тонкости работы с капиталом инвестора от опытного управляющего Форекс-трейдера.
					p Вы научитесь удерживать просадку по депозиту в необходимых пределах и узнаете, как всегда оставаться при работе и зарабатывать долгосрочно, управляя деньгами инвесторов.
			+e.ready.text-center
				+e.r-txt
					| Готовы стать профессионалом и зарабатывать, торгуя деньгами инвесторов?
					|
					br.d-none.d-lg-block
					| Тогда прямо сейчас жмите на кнопку и оформляйте участие в тренинге:
				+e.btn(href="#") Приступить к обучению
	// end sHow

mixin howItem(imgNum, nameTxt)
	+e.item
		+e.item-inner
			+e.name=nameTxt
			+pic(`problem-${imgNum}.jpg`)(class="sHow__item-bg")
			+e.txt-cont
				block