mixin sQuestions(data)
	// start sQuestions
	+b.SECTION.sQuestions.section#sQuestions&attributes(attributes)
		.container
			+b.section-title
				h2
					| Часто задаваемые
					|
					br
					span вопросы
			+e.items
				+questionItem('Смогу ли я научиться трейдингу и получить капитал в управление, если я полный новичок?', 'active')(class='active')
					p
						| Тренинг рассчитан на старт с нуля.
						| 
						br.d-xl-block.d-none
						| Вы получите в комплексе все необходимые знания для успешного старта в трейдинге и получения капитала в управление. Во время его прохождения вам гарантирована поддержка:
					ul
						li 	от автора тренинга
						li 	от куратора тренинга
						li 	от службы заботы о клиентах и службы технической поддержки
						li 	от всей команды Издательства Инфо-ДВД
						li 	от команды участников тренинга
					p Если Вы будете активно обучаться и применять на практике полученные знания, а также разрешать сразу непонятные Вам вопросы, то успех вам обеспечен!
				+questionItem('Какой минимальный депозит необходим для работы?')
					p Для самостоятельной торговли на Форекс Вы сможете стартовать даже от 50$, постепенно увеличивая свой депозит.
					p Для получения капитала в управление, Вам необходимо будет заплатить стартовую сумму в размере от 100$ до 550$, которая частично покроет убытки инвестиционной компании, если Вы будете недостаточно компетентны в торговле.
				+questionItem('Что нужно для начала обучения?')
					p Любой более-менее современный компьютер или ноутбук, хороший Интернет и наличие минимальной компьютерной грамотности (Вы должны уметь пользоваться браузером, устанавливать программы на компьютер, пользовать онлайн-переводчиком). Плюс большое желание и упорство!
				+questionItem('Когда я начну зарабатывать?')
					p Сразу после прохождения основной программы обучения и после самостоятельной отработки навыков на Форекс-симуляторе, Вы сможете начать самостоятельную онлайн-торговлю, либо пройти испытание в инвестиционной компании и получить деньги в управление.
				+questionItem('Будут ли предоставляться записи занятий, если я не смогу на них присутствовать?')
					p Да, записи будут публиковаться на следующий день после занятия и будут доступны Вам бессрочно.
				+questionItem('Где я смогу задавать свои вопросы во время обучения?')
					p.green Вы сможете задавать свои вопросы:
					ul
						li 	В группе Инфоклуба. На Ваши вопросы сможет ответить автор или куратор тренинга на форуме внутри группы, либо мы разберем Ваши вопросы на ближайшем онлайн-занятии. Также в группе Вам смогут помочь и другие участники тренинга.
						li 	На онлайн-занятии. Лучший способ в прямом эфире получить ответ от автора.
						li 	В службе поддержки Инфо-ДВД. Техническая помощь и служба заботы о клиентах всегда готовы помочь Вам.
	// end sQuestions

mixin questionItem(headerTxt, contentClasses)
	+e.item.q-item-js&attributes(attributes)
		+e.header
			+e.header-txt=headerTxt
			+e.circle
		+e.content.q-content-js(class=contentClasses)
			block