mixin mnu()
	-
		var nav= {
			"Решение":"#sRepresent",
			"Инвесторы":"#sThink",
			"Автор":"#sMaster",
			"Программа":"#sProgramm",
			"Выгоды":"#sResult"
			}
	+b.UL.navMenu(itemscope itemtype="http://schema.org/SiteNavigationElement")
		each linkPatch, linkName in nav
			+e.LI.item( itemprop="item" ): +e.A.link.scroll-link(href= linkPatch  itemprop="url")= linkName
//- /menu