mixin sGoldenLevel()
	// start sGoldenLevel
	+b.SECTION.sGoldenLevel.section#sGoldenLevel&attributes(attributes)
		+e.bg
		.container
			+e.row.row
				.col-lg-5.d-none.d-lg-block
					+e.shield-img
						img(loading="lazy" src="img/svg/shield.svg" alt="")
				+e.txt-col.col-lg-7
					+b.section-title
						+e.small-shield-img.d-lg-none
							img(loading="lazy" src="img/svg/shield.svg" alt="")
						h2
							| Золотой уровень
							|
							span
								| доверия от
								.no-wrap Инфо-ДВД
					+e.txt
						p Издательство Инфо-ДВД в лице основателя Издательства Анатолия Белоусова, директора Издательства Никиты Королева, куратора обучения Дениса Абросимова и автора Романа Романовича присваивает онлайн-тренингу "Умные инвестиции три-в-одном" максимальный рейтинг надежности.
						p Это значит, что тема данного курса не вызывает ни малейших этических нареканий со стороны редколлегии Инфо-ДВД, а вероятность положительного результата от обучения/применения данных знаний, методик, программ (при неукоснительном соблюдении всех инструкций автора) близка к 100%.
	// end sGoldenLevel